#main section {position: relative;height: 100vh;width: 100%;}
#main #section01 .visual{width: 100%;height: 100vh;overflow: hidden;}
#main #section01 .visual .container{position: relative;height: 100vh;}
#main #section01 .visual .swiper-pagination-lock{display: block !important}
#main #section01 .visual .visual_txt{position: absolute;left: 0;bottom: 180px;;color: #fff;}
#main #section01 .visual .visual_txt .visual_tit01{font-size: 5.7rem;font-weight: 500}
#main #section01 .visual .visual_txt .visual_tit02{font-size: 10rem;font-weight: bold;}
#main #section01 .visual .visual_txt .visual_tit03{font-size: 7.0rem;font-weight: 500}
#main #section01 .visual .visual_txt .visual_desc{font-size: 2.1rem;color: rgba(255, 255, 255, 0.48);margin-top: 3rem}
#main #section01 .visual .swiper-slide{background-position: center !important}
#main #section01 .visual .swiper_bottom{position: absolute;bottom: 100px;left: 50%;transform: translateX(-50%); z-index: 55;max-width: 1520px;width: calc(100% - 40px);left: 50%;transform: translateX(-50%);}
#main #section01 .visual .swiper-button-prev,
#main #section01 .visual .swiper-button-next{text-indent: -9999px;border: 0;width: 9px;height: 15px;display: block;margin-top: 0}
#main #section01 .visual .swiper-button-prev:after,
#main #section01 .visual .swiper-button-next:after{display: none}
#main #section01 .visual .swiper-button-prev{background: url(../images/slider_prev.png) no-repeat;left: 205px;top: -8px}
#main #section01 .visual .swiper-button-next{background: url(../images/slider_next.png) no-repeat;right: auto;left: 260px;top: -8px}
#main #section01 .swiper_bottom .wrap-autoplay-control{width: 12px;height: 14px;position: absolute;left: 230px;top: -13px}
#main #section01 .swiper_bottom .wrap-autoplay-control .swiper-button-pause{background: url(../images/slide_stop.png) no-repeat center;border: 0;text-indent: -9999px;cursor: pointer}
#main #section01 .swiper_bottom .wrap-autoplay-control .swiper-button-play{background: url(../images/slide_play.png) no-repeat center;display: none;border: 0;text-indent: -9999px;cursor: pointer;}
#main #section01 .swiper_bottom .swiper-pagination {background: rgba(255, 255, 255, 0.16);height: 1px;width: 90px;position: absolute;left: 47px;}
#main #section01 .swiper_bottom  .swiper-pagination-progressbar-fill{background: #7014f2}
.swiper_bottom .swiper-counter span{color: #fff;font-size: 1.4rem;position: absolute;}
.swiper_bottom .swiper-counter .count{left: 20px;top:-10px}
.swiper_bottom .swiper-counter .total{left: 150px;top: -10px;}

/*font*/
.main_tit{font-weight: bold;font-size: 6.6rem}
.main_desc{font-size: 1.8rem;color: #666666;margin-top: 3rem}

#main section:not(#section01){padding: 7rem 0;box-sizing: border-box}

/* section02 */
#section02 .solution_wrap{display: flex;margin-top: 10rem}
#section02 .solution_wrap > .item{width: 33.333333%;height: 587px;cursor: pointer;color: #fff;position: relative;}
#section02 .solution_wrap > .item:nth-child(1){background: url(../images/section02_img01.png) no-repeat center;background-size: cover}
#section02 .solution_wrap > .item:nth-child(2){background: url(../images/section02_img02.png)  no-repeat center;background-size: cover}
#section02 .solution_wrap > .item:nth-child(3){background: url(../images/section02_img03.png)  no-repeat center;background-size: cover}
#section02 .solution_wrap  .item > .tit {font-size: 2.6rem;position: absolute;left: 50%;transform: translateX(-50%);bottom: 110px}
#section02 .solution_wrap  .item > .tit:after{content: '';display: inline-block;background: url(../images/section02_arrow.png) no-repeat;width: 63px;height: 16px;margin-left: 1rem}
#section02 .solution_wrap .hover {background: #7014f2;position: absolute;width: 100%;height: calc(100% + 30px);left: 0;bottom: 0;display: flex;justify-content: center;align-items: center;opacity: 0;visibility: hidden;transition: all 0.5s;}
#section02 .solution_wrap .item:hover .hover,
#section02 .solution_wrap .item:active .hover,
#section02 .solution_wrap .item:focus .hover{opacity: 1;visibility: visible}
#section02 .solution_wrap .hover .tit{font-size: 2.6rem;margin-bottom: 2rem}
#section02 .solution_wrap .hover .bar_list li{font-size: 1.6rem}

/* section03 */
#section03 {background: #f0f7fd;overflow: hidden}
#section03 .tab_list{margin: 7.7rem 0 10rem 0;display: flex;justify-content: space-between;align-items: center}
#section03 .tab_list li a{text-align: center;display: block;color: #666}
#section03 .tab_list li a span{display: block;width: 120px;height: 120px;background: #fff;border-radius: 20px;margin-bottom: 1.2rem}
#section03 .tab_list li a p{margin-top: 2rem}
#section03 .tab_list li.active{width: 170px;height: 170px;background: #7014f2;border-radius: 20px;display: flex;flex-direction: column;align-items: center;justify-content: center;margin-top: -10px}
#section03 .tab_list li.active a{color: #fff !important;font-weight: 600}
#section03 .tab_list li.tab_0 span{background: url(../images/tab_ico01.png) no-repeat center #fff}
#section03 .tab_list li.tab_1 span{background: url(../images/tab_ico02.png) no-repeat center #fff}
#section03 .tab_list li.tab_2 span{background: url(../images/tab_ico03.png) no-repeat center #fff}
#section03 .tab_list li.tab_3 span{background: url(../images/tab_ico04.png) no-repeat center #fff}
#section03 .tab_list li.tab_4 span{background: url(../images/tab_ico05.png) no-repeat center #fff}
#section03 .tab_list li.tab_5 span{background: url(../images/tab_ico06.png) no-repeat center #fff}
#section03 .tab_list li.tab_6 span{background: url(../images/tab_ico07.png) no-repeat center #fff}
#section03 .tab_list li.tab_7 span{background: url(../images/tab_ico08.png) no-repeat center #fff}
#section03 .tab_list li.tab_8 span{background: url(../images/tab_ico09.png) no-repeat center #fff}
#section03 .tab_list li.tab_0.active span{background: url(../images/tab_ico01_active.png) center no-repeat;height: 58px;width: 100%}
#section03 .tab_list li.tab_1.active span{background: url(../images/tab_ico02_active.png) center no-repeat;height: 58px;width: 100%}
#section03 .tab_list li.tab_2.active span{background: url(../images/tab_ico03_acitve.png) center no-repeat;height: 58px;width: 100%}
#section03 .tab_list li.tab_3.active span{background: url(../images/tab_ico04_active.png) center no-repeat;height: 58px;width: 100%}
#section03 .tab_list li.tab_4.active span{background: url(../images/tab_ico05_acitve.png) center no-repeat;height: 58px;width: 100%}
#section03 .tab_list li.tab_5.active span{background: url(../images/tab_ico06_active.png) center no-repeat;height: 58px;width: 100%}
#section03 .tab_list li.tab_6.active span{background: url(../images/tab_ico07_active.png) center no-repeat;height: 58px;width: 100%}
#section03 .tab_list li.tab_7.active span{background: url(../images/tab_ico08_active.png) center no-repeat;height: 58px;width: 100%}
#section03 .tab_list li.tab_8.active span{background: url(../images/tab_ico09_acitve.png) center no-repeat;height: 58px;width: 100%}

#section03 .swiper-container{position: relative;overflow: hidden}
#section03 .item{display: flex;justify-content: center;}
#section03 .item .img{max-width: 580px;width: 100%;text-align: right;margin-right: 150px;}
#section03 .item img{max-width: 100%}
#section03 .item .txt{width: calc(100% - 730px)}
#section03 .item .txt .tit{font-size: 2.4rem;font-weight: bold;margin-bottom: 2rem;margin-top: 7rem}
#section03 .item .txt .desc{font-size: 1.6rem;color: #666666;}
#section03 .swiper-button-next:after, 
#section03 .swiper-button-prev:after{display: none}
#section03 .swiper-button-next,
#section03 .swiper-button-prev{width: 26px;height: 50px;}
#section03 .swiper-button-next{background: url(../images/se3_next.png) no-repeat;}
#section03 .swiper-button-prev{background: url(../images/se3_prev.png) no-repeat;}

/*section04*/
#section04 {background: url(../images/section04_bg.png) no-repeat bottom 150px left;background-size: cover}
#section04 .qs_slide{margin-top: 10rem;overflow: hidden;position: relative;padding-bottom: 50px}
#section04 .item{display: flex;padding: 0 7.5rem}
#section04 .txt{margin: 2rem 0 0 0;width: calc(100% - 900px)}
#section04 .img{width: 900px;text-align: center}
#section04 .img img{display: inline-block}
#section04 .num{background: #7014f2;display: inline-block;color: #fff;padding: 0.8rem 4.9rem;border-radius: 30px;font-size: 1.8rem;margin-bottom: 3.6rem}
#section04 .tit{font-size: 2.6rem;font-weight: bold;margin-bottom: 1.5rem}
#section04 .desc{color: #666666;}
#section04 .swiper-button-next:after, 
#section04 .swiper-button-prev:after{display: none}
#section04 .swiper-button-next,
#section04 .swiper-button-prev{width: 38px;height: 38px;top: 45%}
#section04 .swiper-button-next{background: url(../images/se4_next.png) no-repeat;right: 85px}
#section04 .swiper-button-prev{background: url(../images/se4_prev.png) no-repeat;left: auto;right: 926px}
#section04 .swiper-pagination{width: 900px;right:85px;left: auto;}
#section04 .swiper-pagination .swiper-pagination-bullet{width: 15px;height: 15px;background: #ececec;margin: 0 5px;opacity: 1}
#section04 .swiper-pagination .swiper-pagination-bullet-active{background: #c4cbf4;width: 30px;border-radius: 30px}

/*section05*/
#section05{background: url(../images/section05_bg.png) no-repeat bottom right}
#section05 .partner{display: flex;flex-wrap: wrap;}
#section05 .partner .item{background: #fff;border: 1px solid #dadada;border-radius: 15px;text-align: center;padding: 4rem 2rem;box-sizing: border-box;width: calc(33.333% - 117px);margin-right: 175px;margin-top: 70px;word-break: break-all;color: #666}
#section05 .partner .item:nth-child(3n){margin-right: 0}
#section05 .partner .item .img{display: flex;justify-content: center;align-items: center;height: 77px;margin-bottom: 2rem;}
#section05 .partner .item .img img{max-width: 100%}
#section05 .partner .item a:hover,
#section05 .partner .item a:active
#section05 .partner .item a:focus{text-decoration: underline}

/*section06*/
#section06{background: url(../images/section06_bg.png) no-repeat;color: #fff;}
#section06 .main_desc.f16{color: #fff;opacity: .48;width: calc(100% - 780px)}
#section06 .contact_wrap{display: flex;justify-content: space-between;}
#section06 .contact_wrap .form_wrap{width: 760px;}
#section06 .contact_wrap .form_wrap label{display: block;}
#section06 .contact_wrap .form_wrap input[type="text"]{display: block;background: none;padding: 20px 0;border: 0;color: #fff;border-bottom: 1px solid rgba(218, 222, 245, 0.5);font-size: 1.6rem;width: 100%}
#section06 .contact_wrap .form_wrap input::placeholder{color: #fff;font-family: 'Noto Sans KR'}
#section06 .contact_wrap .form_wrap textarea{font-family: 'Noto Sans KR',sans-serif;background: rgba(255, 255, 255, 0.5);width: 100%;margin: 3rem 0 2rem 0;padding: 25px 35px;font-size: 1.6rem;color: #333;box-sizing: border-box;height: 300px}
#section06 .contact_wrap .form_wrap textarea::placeholder{color: #666666;}
#section06 .contact_wrap .form_wrap .contact_btn{margin:4.5rem 0 0 auto}


@media all and (max-width:1500px) {
     #section03 .swiper-container{margin-top: 5rem}
    #section03 .tab_wrap{overflow-x:auto;width: 100%;display: none}
    #section03 .tab_wrap::-webkit-scrollbar {display: none;}
    #section03 .tab_list{margin-bottom: 2rem}
    #section03 .tab_list li{margin-right: 2rem}
    #section03 .tab_list li:last-child{margin-right: 0}
    #section03 .tab_list li.active{width: 130px;height: 130px}
    #section03 .tab_list li.active span{width: 130px !important}
    #section03 .tab_list li a span{width: 100px;height: 100px}
    #section03 .tab_list li a{white-space: nowrap;}
    #section03 .item{width: calc(100% - 100px);margin: auto;}
    #section03 .item .img{max-width: inherit;width: auto;margin-right: 5rem}
    #section03 .item .txt{width: auto;}
    #section04 .img{width: 60%;max-width: 900px;}
    #section04 .img img{display: block;width: 100%}
    #section04 .txt{width: calc(100% - 60% - 2rem)}
    #section04 .swiper-button-prev{right: auto;left: 20px;}
    #section04 .swiper-button-next{right: 20px;}
    #section04 .swiper-pagination{width: 100%;right: 0}
    
    #section05 .partner .item{margin-right: 100px;width: calc(33.333% - 66.666px);}
    #section06 .main_desc.f16 {width: calc(100% - 720px);word-break: keep-all}
    #section06 .main_desc br{display: none}
    #section06 .contact_wrap .form_wrap{width: 700px}

}

@media all and (max-width:1024px) {
    #main #section01 .visual .visual_txt .visual_tit01{font-size: 4rem}
    #main #section01 .visual .visual_txt .visual_tit02{font-size: 6rem}
    #main #section01 .visual .visual_txt .visual_tit03{font-size: 5rem}
    
    .main_tit{font-size: 4rem}
    .main_desc{margin-top: 2rem}
    
    #main section:not(#section01){height: auto;padding: 4rem 0}
    #section02 .solution_wrap{display: block}
    #section02 .solution_wrap > .item{width: 100%;height: 200px}
    #section02 .solution_wrap .hover .tit{font-size: 2.4rem;margin-bottom: 1rem}
    #section03 .tab_wrap{overflow-x: auto;width: 100%;margin-bottom: 3rem;}
   
    #section03 .item .txt .tit{margin-top: 3rem}
    #section04 .swiper-button-prev{left: 0}
    #section04 .swiper-button-next{right: 0}
    #section04 .item{flex-direction: column-reverse;align-items: center;}
    #section04 .txt{width: 100%;text-align: center;}
    #section04 .qs_slide{margin-top: 4rem}
    #section05 .partner{margin-top: 2rem}
    #section05 .partner .item{margin-right: 30px;width: calc(33.333% - 20px);margin-top: 30px}
    #section06 .contact_wrap{display: block;}
    #section06 .main_desc.f16{width: 100%}
    #section06 .contact_wrap .form_wrap{width: 100%;margin-top: 2rem}
    
}
    

@media all and (max-width:768px) {
    .main_tit{font-size: 3rem}
    .main_desc{margin-top: 1rem;}
    #main #section01 .visual .visual_txt{bottom: 50%;transform: translateY(50%)}
    #main #section01 .visual .visual_txt .visual_tit01{font-size: 3rem}
    #main #section01 .visual .visual_txt .visual_tit02{font-size: 5rem}
    #main #section01 .visual .visual_txt .visual_tit03{font-size: 4rem}
    #main #section01 .visual .visual_txt .visual_desc{font-size: 1.8rem}
 
    #section03 .swiper-button-next, #section03 .swiper-button-prev{background-size: 15px;width: 15px;height: 30px}
    #section03 .item{display: block;text-align: center;}
    #section03 .item .txt{margin-left: 0}
    #section03 .item .txt .tit{margin-bottom: 1rem;font-size: 2rem}
    #section03 .item img{height: 200px;}
    #section03 .item .img{margin-right: 0;text-align: center}
    
    #section04 .tit{margin-bottom: 1.5rem;padding: 0.6rem 4rem;font-size: 1.6rem}
    #section04 .num{margin-bottom: 2rem}
    #section05 .partner .item{width: calc(50% - 15px);}
    #section05 .partner .item:nth-child(2n){margin-right: 0}
    #section05 .partner .item:nth-child(3n){margin-right: auto}
    #section06 .contact_wrap .form_wrap textarea{padding: 20px;}
    .contact_btn{height: 40px;line-height: 40px;width: 140px}
    
}

@media all and (max-width:640px) {
   
    #section05 .partner .item{width: calc(50% - 10px);margin-right: 20px;margin-top: 20px}
}

@media all and (max-width:480px) {
    #section03 .item img{height: 99px}
    #section05 .partner{display: block;}   
    #section05 .partner .item{width: 100%;margin-right: 0;width: 100%;}
    
}

